<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 채연 -->
		<typeAlias type="com.cloud.pt.employee.EmployeeVO" alias="EmployeeVO"/>
		<typeAlias type="com.cloud.pt.commons.Pager" alias="Pager"/>
		<typeAlias type="com.cloud.pt.ptClass.PtClassVO" alias="PtClassVO"/>
		
		<!-- 유빈 -->
		<typeAlias type="com.cloud.pt.attendance.AttendanceVO" alias="AttendanceVO"/>
		<typeAlias type="com.cloud.pt.attendance.AttendanceModifyVO" alias="AttendanceModifyVO"/>
		<typeAlias type="com.cloud.pt.myPtMember.MemberVO" alias="MemberVO"/>
<!-- 동찬 -->
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="com.cloud.pt.approval.ApprovalVO" alias="ApprovalVO"/>


	</typeAliases>
</configuration>