#wrap {
  display: flex;
  font-family: "Gothic A1", sans-serif;
}
#right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 15rem);
}
.main_wrap {
  height: 100%;
  width: 100%;
}
.main_top {
  height: 40%;
}
.main_top > div {
  float: left;
}
.main_top .main_member {
  background-color: antiquewhite;
  height: 100%;
  width: 20%;
}
.main_top .main_notice {
  background-color: chocolate;
  height: 100%;
  width: 50%;
}
.main_top .main_calendar {
  background-color: yellowgreen;
  height: 100%;
  width: 30%;
}

#mainContents{
	border: 1px solid black;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

