* {box-sizing: border-box;}
html, body, dl, dt, dd,
table, thead, tbody, tfoot, tr, td, th, span, em, p ,strong, del, s, q, blockquote, address, form, input, fieldset, legend, button, select, option, textarea, label, ul, ol, li, a, div, header, nav, aside, section, footer, article, video, img {
    font-size: 1.0em; line-height: 1.0;
    font-style: normal; font-weight: normal;
    margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6{font-size: none; font-style: normal; font-weight: normal; }
ul, ol, li {list-style: none;}
table, tr, td, th {border-collapse: collapse;}
a {text-decoration: none; color: #000;}
fieldset {border: 0;}
button {cursor: pointer; border: 0; background: none;}
.skip {display: none;}