header {
    width: 100%;
    height: 5rem;
	background-color: rgb(154, 205, 237);
  }
  .header_wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_message {
    margin-left: 5rem;
    height: 100%;
  }
  .header_message p {
    line-height: 5rem;
    font-size: 1.5rem;
  }
  .header_navi {
    margin-right: 5rem;
    height: 100%;
  }
  .header_navi a {
    margin: 0 1.5rem;
    line-height: 5rem;
  }