@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

a:hover {
  transition: all 0.6s ease;
}

.app {
  height: 100vh;
}

.sidebar {
  /* position: absolute; */
  width: 17em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

.sidebar header {
  background-color: #09f;
  width: 100%;
  display: block;
  padding: 0.75em 1em;
}

.sidebar-nav {
  /* position: fixed; */
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  -webkit-overflow-scrolling: touch;
}

.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
}

.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.5rem 0.5rem;
  position: relative;
  display: block;
}
.nav-flyout li a {
  height: 73.92px;
  line-height: 22px;
  text-align: center;
  padding: 1.5rem 0.2rem !important;
}

.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
}

.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 1em;
  /* display: inline; */
  vertical-align: middle;
  margin-right: 1.5rem;
}

.sidebar-nav > ul > li > a:after {
  content: ">";
  font-family: ionicons;
  font-size: 1em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
}

.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #080d11;
  z-index: 9;
  left: 7.5em;
  top: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.5s ease;
  width: 8rem;
  padding: 0;
}
.nav-flyout li {
  text-align: left !important;
}

.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.sidebar-nav ul li:hover .nav-flyout {
  transform: translateX(0);
  transition: all 0.5s ease;
}
