h3 {
margin-top: 40px !important;
text-align: center;
}
#btn {
text-align: center;
margin: 3rem 0 0;
}
.form-control[readonly] {
background-color:rgba(105, 108, 255, 0.16) !important;
}
.card-body{
margin: 2.2rem 8rem;
}
.container-xxl {
margin: 0rem 2.5rem 0 !important;
max-width: calc(100% - 5.2rem) !important;
}
.form-label, .col-form-label {
font-size: 1rem !important;
}
#before_btn {
margin-right: 1rem;
}
.col-12 {
padding: 0 2rem !important;
margin-top: 2rem !important;
}
.col-md-2 {
width: 23% !important;
}
form > .row {
padding: 0 2rem;
}
.form-check-label {
padding-right: 1.7rem;
font-size: 1rem;
}
.col-md-10 {
width: 75% !important;
}
.form-control:disabled {
background-color:rgba(105, 108, 255, 0.16) !important;
}
.form-check-input, .form-check-label{
opacity: 1 !important;
}
.totalBtn {
text-align: center;
margin: 3rem 0 0;
}