<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.approval.ApprovalDAO">
	<sql id="forPager">
		<choose>
			<when test="kind=='1'">
				TITLE
			</when>
			<otherwise>
				CONTENTS
			</otherwise>
		</choose>
	</sql>
	
	<!-- 1. count  -->
	<select id="getCount" parameterType="Pager" resultType="Long">
		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/>
		SELECT COUNT(APPROVALNUM) FROM APPROVAL
		
	</select>
	
	<!-- 2. list -->
	<select id="getApprovalList" resultType="ApprovalVO">
		SELECT APPROVALNUM,REGDATE,CATEGORY,TITLE,STATE FROM APPROVAL
		
		ORDER BY APPROVALNUM DESC LIMIT #{startRow},#{lastRow}
	</select>
	
</mapper>