<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.approval.ApprovalDAO">
	<sql id="forPager">
		<if test="pager.kind=='title'">AND TITLE LIKE CONCAT('%',#{pager.search},'%')</if>
		<if test="pager.kind=='contents'">AND CONTENTS LIKE CONCAT('%',#{pager.search},'%')</if>
	</sql>
	
	<sql id="state">
		<if test="pager.division=='proceeding'">AND STATE='진행중'</if>
		<if test="pager.division=='complete'">AND STATE='완료'</if>
		<if test="pager.division=='wating'">AND STATE='대기중'</if>
		<if test="pager.division=='reject'">AND STATE='반려'</if>
	</sql>
	
	<sql id="category">
		<if test="pager.division=='휴가신청'">AND CATEGORY='휴가신청서'</if>
		<if test="pager.division=='지출신청'">AND CATEGORY='지출결의서'</if>
		<if test="pager.division=='휴직신청'">AND CATEGORY='휴직신청서'</if>
	</sql>
	
	<!-- 개인count  -->
	<select id="getMyCount" parameterType="Map" resultType="Long">
		SELECT COUNT(APPROVALNUM) FROM APPROVAL
		WHERE EMPLOYEENUM=${id.employeeNum}
		<include refid="state"></include>
		<include refid="forPager"></include>
	</select>
	<!-- 자기제외count  -->
	<select id="getAllCount" parameterType="Map" resultType="Long">
		SELECT COUNT(APPROVALNUM) FROM APPROVAL
		WHERE EMPLOYEENUM NOT IN (#{id.employeeNum})
		<include refid="state"></include>
		<include refid="forPager"></include>
	</select>
	
	<!-- list -->
	<select id="getApprovalList" resultType="ApprovalVO" parameterType="Map">
		SELECT APPROVALNUM,REGDATE,CATEGORY,TITLE,STATE FROM APPROVAL
		WHERE EMPLOYEENUM=${id.employeeNum}
		<include refid="state"></include>
		<include refid="forPager"></include>
		ORDER BY APPROVALNUM DESC LIMIT #{pager.startRow},#{pager.lastRow}
	</select>
	
	<!-- 3.직원목록 -->
	<select id="getAnnualLine" resultType="EmployeeVO">
		SELECT NAME,POSITION FROM EMPLOYEE ORDER BY EMPLOYEENUM
	</select>
	
	<!-- 결재등록 -->
	<insert id="setAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL(CATEGORY,MIDDLE,LAST,NAME,CONTENTS,LEAVEKIND,USEDATE,STARTDATE,ENDDATE)
		VALUES(#{category},#{middle},#{last},#{name},#{contents},#{leaveKind},#{useDate},#{startDate},#{endDate})
	</insert>
	<!-- 결재자결재문서 리스트 -->
	<select id="getApproverList" resultType="ApprovalVO" parameterType="Map">
		SELECT APPROVALNUM,REGDATE,CATEGORY,TITLE,STATE FROM APPROVAL
		WHERE EMPLOYEENUM NOT IN (${id.employeeNum})
		<include refid="category"></include>
		<include refid="forPager"></include>
		ORDER BY APPROVALNUM DESC LIMIT #{pager.startRow},#{pager.lastRow}
	</select>
	<!-- 본인 임시저장 리스트 -->
	<select id="getTemporaryList" resultType="ApprovalVO" parameterType="Map">
		SELECT REGDATE,CATEGORY,TITLE,STATE FROM APPROVAL
		WHERE EMPLOYEENUM=${id.employeeNum} AND STATE='임시저장'
		<include refid="forPager"></include>
		ORDER BY APPROVALNUM DESC LIMIT #{pager.startRow},#{pager.lastRow}
		
		
	</select>
	
</mapper>