<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.attendance.modify.AttendanceModifyDAO">

	<select id="getList" parameterType="EmployeeVO" resultType="AttendanceModifyVO">
		SELECT * 
		FROM ATTENDANCEMODIFY
		WHERE EMPLOYEENUM={employeeNum}
	</select>

	<insert id="setAdd" parameterType="AttendanceModifyVO">
		INSERT INTO ATTENDANCEMODIFY
		(ATTENDANCEMODIFYNUM, ATTENDANCENUM, REGDATE, MODIFYDATE, MODIFYTIME, 
		REQUESTCONTENTS, TYPE, STATE, MODIFYCONTENTS)
		VALUES (NULL, ${attendanceNum}, NOW(), ${modifyDate}, 
		${modifyTime}, ${requestContents}, ${type}, '요청', NULL)
	</insert>
</mapper>