<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.attendance.AttendanceDAO">
	<sql id="searchSql"> 
		<if test="kind=='name'">WHERE E.NAME LIKE CONCAT('%',#{search},'%')</if>
		<if test="kind=='status'">WHERE AM.STATUS LIKE CONCAT('%',#{search},'%')</if>
	</sql>
	
	<sql id="searchSqlA">
		<if test="pager.kind=='name'">AND E.NAME LIKE CONCAT('%',#{pager.search},'%')</if>
		<if test="pager.kind=='state'">AND A.STATE LIKE CONCAT('%',#{pager.search},'%')</if>
	</sql>

	<sql id="joinSql">
		FROM ATTENDANCEMODIFY AM
			JOIN ATTENDANCE A
			ON AM.ATTENDANCENUM=A.ATTENDANCENUM
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM
	</sql>

	<select id="getNum" resultType="java.lang.Long" parameterType="Map">
		SELECT ATTENDANCENUM
		FROM ATTENDANCE
		WHERE WORKDATE=#{modify.modifyDate}
		AND EMPLOYEENUM=#{emp.employeeNum}
	</select>
	
	<insert id="setOn" parameterType="EmployeeVO">
		INSERT INTO ATTENDANCE
		(EMPLOYEENUM, WORKDATE, ONTIME)
		VALUES (#{employeeNum}, NOW(), NOW())
	</insert>
	
	<update id="setOff" parameterType="EmployeeVO">
		UPDATE ATTENDANCE
			SET OFFTIME=NOW()
			WHERE EMPLOYEENUM=#{employeeNum}
			AND WORKDATE=DATE_FORMAT(NOW(), '%Y-%m-%d')
	</update>
	
	<update id="setState" parameterType="Map">
		UPDATE ATTENDANCE
		<set>
			<if test="vo.onTime lt on and vo.offTime gte off">STATE='정상'</if>
			<if test="vo.onTime gte on and vo.offTime gte off">STATE='지각'</if>
			<if test="vo.onTime gte on and vo.offTime lt off">STATE='조퇴'</if>
			<if test="vo.onTime lt on and vo.offTime lt off">STATE='조퇴'</if>
		</set>
			WHERE ATTENDANCENUM=#{vo.attendanceNum}
	</update>
	
	<select id="getList" resultType="Map" parameterType="EmployeeVO">
		SELECT *
		FROM ATTENDANCE
		WHERE EMPLOYEENUM=#{employeeNum}
	</select>
	
	<select id="getInfo" resultMap="getInfoResult" parameterType="EmployeeVO">
		SELECT A.*, E.*
		FROM ATTENDANCE A 
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM
		WHERE E.EMPLOYEENUM=#{employeeNum}
		AND A.WORKDATE=DATE_FORMAT(NOW(), '%Y-%m-%d')
	</select>
	
	<resultMap type="AttendanceVO" id="getInfoResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<result column="EMPLOYEENUM" property="employeeNum"/>
		<result column="WORKDATE" property="workDate"/>
		<result column="ONTIME" property="onTime"/>
		<result column="OFFTIME" property="offTime"/>
		<result column="STATE" property="state"/>
		<association property="employeeVO" javaType="EmployeeVO">			
			<id column="EMPLOYEENUM" property="employeeNum"/>
			<result column="NAME" property="name"/>
			<result column="LEAVEDATE" property="leaveDate"/>
		</association>
	</resultMap>	
	
	<!-- 월별 근태 total -->
	<select id="getMonthTotal" resultType="Long" parameterType="Map">
		SELECT COUNT(A.ATTENDANCENUM)
		FROM ATTENDANCE A 
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM
		WHERE DATE_FORMAT(A.WORKDATE, '%Y-%m')=DATE_FORMAT(#{attendance.workDate}, '%Y-%m')
		<include refid="searchSqlA"></include>
	</select>
	
	<!-- 월별 근태 -->
	<select id="getMonthList" resultMap="getMonthResult" parameterType="Map">
		SELECT A.*, E.NAME
		FROM ATTENDANCE A
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM 
		WHERE DATE_FORMAT(A.WORKDATE, '%Y-%m')=DATE_FORMAT(#{attendance.workDate}, '%Y-%m')
		<include refid="searchSqlA"></include>	
		LIMIT #{pager.startRow}, #{pager.lastRow}
	</select>
	
	<resultMap type="AttendanceVO" id="getMonthResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<result column="EMPLOYEENUM" property="employeeNum"/>
		<result column="WORKDATE" property="workDate"/>
		<result column="ONTIME" property="onTime"/>
		<result column="OFFTIME" property="offTime"/>
		<result column="STATE" property="state"/>
		<association property="employeeVO" javaType="EmployeeVO">			
			<id column="EMPLOYEENUM" property="employeeNum"/>
			<result column="NAME" property="name"/>
		</association>
	</resultMap>
	
	<!-- 당일 근태 total -->
	<select id="getDayTotal" resultType="Long" parameterType="Map">
		SELECT COUNT(A.ATTENDANCENUM)
		FROM ATTENDANCE A
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM 
		WHERE A.WORKDATE=#{attendance.workDate}
		<include refid="searchSqlA"></include>	
	</select>
	
	<!-- 당일 근태 -->
	<select id="getDayList" resultMap="getDayResult" parameterType="Map">
		SELECT A.*, E.NAME
		FROM ATTENDANCE A
			JOIN EMPLOYEE E
			ON A.EMPLOYEENUM=E.EMPLOYEENUM 
		WHERE WORKDATE=#{attendance.workDate}
		<include refid="searchSqlA"></include>	
		LIMIT #{pager.startRow}, #{pager.lastRow}
	</select>
	
	<resultMap type="AttendanceVO" id="getDayResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<result column="EMPLOYEENUM" property="employeeNum"/>
		<result column="WORKDATE" property="workDate"/>
		<result column="ONTIME" property="onTime"/>
		<result column="OFFTIME" property="offTime"/>
		<result column="STATE" property="state"/>
		<association property="employeeVO" javaType="EmployeeVO">			
			<id column="EMPLOYEENUM" property="employeeNum"/>
			<result column="NAME" property="name"/>
		</association>
	</resultMap>
	
	<update id="setUpdateA" parameterType="Map">
		UPDATE ATTENDANCE
			<set> STATE=#{attendance.state},
				<if test="modify.type eq '출근'.toString()">ONTIME=#{modify.modifyTime}</if>
				<if test="modify.type eq '퇴근'.toString()">OFFTIME=#{modify.modifyTime}</if>
			</set>
			WHERE ATTENDANCENUM=#{attendance.attendanceNum}
	</update>
	
	<update id="setUpdateAM" parameterType="AttendanceModifyVO">
		UPDATE ATTENDANCEMODIFY
			SET MODIFYCONTENTS=#{modifyContents},
			STATUS=#{status}
			WHERE ATTENDANCEMODIFYNUM=#{attendanceModifyNum}
	</update>
	
	<select id="getRequestDetail" resultMap="getDetailResult" parameterType="AttendanceModifyVO">
		SELECT AM.*, A.*, E.NAME, E.EMPLOYEENUM
		<include refid="joinSql"></include>
		WHERE AM.ATTENDANCEMODIFYNUM=#{attendanceModifyNum}
	</select>
	
	<resultMap type="AttendanceVO" id="getDetailResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<result column="WORKDATE" property="workDate"/>
		<result column="ONTIME" property="onTime"/>
		<result column="OFFTIME" property="offTime"/>
		<result column="STATE" property="state"/>
		<association property="attendanceModifyVO" javaType="AttendanceModifyVO">
			<id column="ATTENDANCEMODIFYNUM" property="attendanceModifyNum"/>
			<result column="REGDATE" property="regDate"/>
			<result column="MODIFYDATE" property="modifyDate"/>
			<result column="MODIFYTIME" property="modifyTime"/>
			<result column="REQUESTCONTENTS" property="requestContents"/>
			<result column="TYPE" property="type"/>			
		</association>
		<association property="employeeVO" javaType="EmployeeVO">
			<id column="EMPLOYEENUM" property="employeeNum"/>
			<result column="NAME" property="name"/>
		</association>
	</resultMap>	
	
	<select id="getRequestTotal" resultType="java.lang.Long" parameterType="Pager">
		SELECT COUNT(AM.ATTENDANCEMODIFYNUM)
		<include refid="joinSql"></include>
		<include refid="searchSql"></include>
	</select>

	<select id="getRequestList" resultMap="getRequestResult" parameterType="Pager">
		SELECT AM.*, E.NAME 
		<include refid="joinSql"></include>
		<include refid="searchSql"></include>
		ORDER BY AM.ATTENDANCEMODIFYNUM DESC
		LIMIT #{startRow}, #{lastRow}
	</select>
	
	<resultMap type="AttendanceVO" id="getRequestResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<association property="attendanceModifyVO" javaType="AttendanceModifyVO">
			<id column="ATTENDANCEMODIFYNUM" property="attendanceModifyNum"/>
			<result column="ATTENDANCENUM" property="attendanceNum"/>
			<result column="REGDATE" property="regDate"/>
			<result column="MODIFYDATE" property="modifyDate"/>
			<result column="MODIFYTIME" property="modifyTime"/>
			<result column="STATUS" property="status"/>
		</association>
		<association property="employeeVO" javaType="EmployeeVO">
			<id column="EMPLOYEENUM" property="employeeNum"/>
			<result column="NAME" property="name"/>
		</association>
	</resultMap> 
	
	
	<select id="getModifyTotal" parameterType="EmployeeVO" resultType="Long">
		SELECT COUNT(ATTENDANCEMODIFYNUM)
		<include refid="joinSql"></include>
		WHERE E.EMPLOYEENUM=#{employeeNum}
	</select>
	
	<select id="getModifyDetail" resultType="AttendanceModifyVO" parameterType="AttendanceModifyVO">
		SELECT * 
		FROM ATTENDANCEMODIFY
		WHERE ATTENDANCEMODIFYNUM=#{attendanceModifyNum}
	</select>
	
	<select id="getModifyList" resultMap="getListResult" parameterType="Map">
		SELECT AM.*, E.NAME 
		<include refid="joinSql"></include>
		WHERE E.EMPLOYEENUM=#{vo.employeeNum}
		ORDER BY AM.ATTENDANCEMODIFYNUM DESC
		LIMIT #{pager.startRow}, #{pager.lastRow}
	</select>
	
	<resultMap type="AttendanceVO" id="getListResult">
		<id column="ATTENDANCENUM" property="attendanceNum"/>
		<association property="attendanceModifyVO" javaType="AttendanceModifyVO">
			<id column="ATTENDANCEMODIFYNUM" property="attendanceModifyNum"/>
			<result column="ATTENDANCENUM" property="attendanceNum"/>
			<result column="REGDATE" property="regDate"/>
			<result column="MODIFYDATE" property="modifyDate"/>
			<result column="MODIFYTIME" property="modifyTime"/>
			<result column="STATUS" property="status"/>
		</association>
		<association property="employeeVO" javaType="EmployeeVO">
			<id column="EMPLOYEENUM" property="employeeNum"/>
				<result column="NAME" property="name"/>
		</association>
	</resultMap>

	<insert id="setModifyAdd" parameterType="AttendanceModifyVO">
		INSERT INTO ATTENDANCEMODIFY
		(ATTENDANCENUM,REGDATE,MODIFYDATE,MODIFYTIME,REQUESTCONTENTS,TYPE,STATUS)
		VALUES (#{attendanceNum},NOW(),#{modifyDate},#{modifyTime},#{requestContents},#{type},'요청')
	</insert>
</mapper>