<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.employee.EmployeeDAO">
	<sql id="search">
		<if test="kind=='name'">WHERE NAME LIKE CONCAT('%',#{search},'%')</if>
		<if test="kind=='position'">WHERE POSITION LIKE CONCAT('%',#{search},'%')</if>
		<if test="kind=='stateEmpIn'">WHERE STATE='재직' AND NAME LIKE CONCAT('%',#{search},'%')</if>
		<if test="kind=='stateOut'">WHERE STATE = '퇴직'</if>
	</sql>
	
	
	<select id="getEmpTotal" parameterType="Pager" resultType="Long">
		SELECT COUNT(EMPLOYEENUM) FROM EMPLOYEE 
		<include refid="search"></include>
	</select>
	
	<select id="getEmpLogin" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE 
		WHERE EMPLOYEENUM = #{employeeNum} 
	</select>
	
	<select id="getInfo" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE WHERE EMPLOYEENUM = #{employeeNum}
	</select>
	
	<insert id="setJoin" parameterType="EmployeeVO">
		INSERT INTO EMPLOYEE
		VALUES (DEFAULT, #{name}, #{password}, #{phone}, #{address}, #{gender}, #{birth}, now(), #{quitDate}, #{state}, #{position}, 12, null, null, #{proFile}, #{proOriginal})
	</insert>
	
	<select id="getEmpList" parameterType="Map" resultType="EmployeeVO">
		SELECT EMPLOYEENUM,NAME,POSITION,PHONE,STATE FROM EMPLOYEE
		
			<if test="kind=='name'">WHERE NAME LIKE CONCAT('%',#{pager.search},'%')</if>
			<if test="kind=='position'">WHERE POSITION LIKE CONCAT('%',#{pager.search},'%')</if>
			<if test="kind=='stateEmpIn'">WHERE STATE='재직' AND NAME LIKE CONCAT('%',#{pager.search},'%')</if>
			<if test="kind=='stateOut'">WHERE STATE = '퇴직'</if>
		
		ORDER BY EMPLOYEENUM  DESC
		LIMIT #{pager.startRow},#{pager.perPage}
	</select>
	
	<select id="getEmpDetail" parameterType="EmployeeVO" resultType="EmployeeVO" >
		SELECT * FROM EMPLOYEE WHERE EMPLOYEENUM = #{employeeNum}
	</select>
	
	<update id="setEmpUpdate" parameterType="EmployeeVO">
		UPDATE EMPLOYEE
		SET 
		NAME=#{name},PHONE=#{phone},ADDRESS=#{address},GENDER=#{gender},BIRTH=#{birth},QUITDATE=#{quitDate},STATE=#{state},POSITION=#{position}
		WHERE EMPLOYEENUM = #{employeeNum}
	</update>
	
	<update id="setEmpDelete" parameterType="EmployeeVO">
		UPDATE EMPLOYEE
		SET
		PASSWORD='0',PHONE='0',ADDRESS=NULL,GENDER=NULL,BIRTH=NULL,JOINDATE=NULL,QUITDATE=NULL,STATE=NULL,POSITION=NULL,LEAVEDATE=NULL,SIGNFILE=NULL,SIGNORIGINAL=NULL,PROFILE=NULL,PROORIGINAL=NULL
		WHERE EMPLOYEENUM = #{employeeNum}
	</update>
	
	
</mapper>