<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.main.HomeDAO">
	<select id="getNoticeList">
		SELECT N.NOTICENUM, N.CATEGORY, N.TITLE, E.NAME, N.MODDATE
		FROM NOTICE N JOIN EMPLOYEE E
		ON (N.EMPLOYEENUM=E.EMPLOYEENUM)
		ORDER BY N.NOTICENUM DESC
		LIMIT 0,7
	</select>
	
	<select id="getOnOffTime" parameterType="AttendanceVO" resultType="AttendanceVO">
		SELECT ONTIME, OFFTIME FROM ATTENDANCE
		WHERE EMPLOYEENUM = #{employeeNum}
		AND WORKDATE = #{workDate}
	</select>
	
	<select id="getMember" resultType="HomeVO">
		SELECT SUBSTRING(JOINDATE, 6, 2) MONTH, COUNT(*) MEMBER FROM MEMBER
		WHERE SUBSTRING(JOINDATE, 1, 4) = SUBSTRING(NOW(), 1, 4)
		GROUP BY SUBSTRING(JOINDATE, 6, 2);
	</select>
	
	<select id="getApprovalList" parameterType="String" resultType="ApprovalVO">
		SELECT CATEGORY, TITLE, STATE, REGDATE
		FROM APPROVAL
		WHERE EMPLOYEENUM = #{employeeNum}
		ORDER BY APPROVALNUM DESC
		LIMIT 0,7
	</select>
</mapper>