<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.membership.MembershipDAO">
	<!-- 이용권 등록 -->
	<insert id="setAdd" parameterType="MembershipVO">
		INSERT INTO MEMBERSHIP
		(NAME,TYPE,MONTH,PTCOUNT,PRICE)
		VALUES (#{name},#{type},#{month},#{ptCount},#{price})
	</insert>
	
	<!-- 이용권 목록 -->
	<select id="getList" resultType="MembershipVO">
		SELECT *
		FROM MEMBERSHIP
	</select>
</mapper>