<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.notice.NoticeDAO">
	
	<insert id="setNoticeAdd" parameterType="NoticeVO">
		INSERT INTO NOTICE (NOTICENUM, EMPLOYEENUM, TITLE, CONTENTS, REGDATE, CATEGORY, HIT)
		VALUES (NULL, #{employeeNum}, #{title}, #{contents}, NOW(), #{category}, 0)
	</insert>
</mapper>