<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cloud.pt.ptLog.PtTypeDAO">
	
	<select id="getTypeList" parameterType="Map" resultType="PtTypeVO">
		SELECT * FROM PTTYPE
		WHERE EMPLOYEENUM = #{employeeNum};
	</select>
	
	<insert id="addType" parameterType="PtTypeVO">
		INSERT INTO PTTYPE (EMPLOYEENUM,NAME,WEIGHT,EXCOUNT,PTSET) VALUES (#{employeeNum},#{name},#{exCount},#{ptSet})
	</insert>
</mapper>