	
h3 {
	margin-top: 40px !important;
	text-align: center;
}
.col-xl1 {
	flex: 0.4 0 0%;
}
.card .card-header + .card-body, .card .card-header + .card-content > .card-body:first-of-type {
	height: 550px;
}
#msgArea{
	width: 100%;
	height: 90%;
	background-color: #E7E7FF;
	padding: 0.8rem 0 1.5rem;
}
.alert-primary{
	background-color: #696CFF;
	color: white;
}
.msg{
	margin: 0.7rem 1.5rem 0 1.5rem;
}
.chatDate{
	font-size: 11px;
}
#msgArea::-webkit-scrollbar {
	width: 8px;
}
#msgArea::-webkit-scrollbar-thumb {
	background-color: #696CFF;
	border-radius: 10px;
}
#msgArea::-webkit-scrollbar-track {
	background-color: #E7E7FF;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
#listBox{
	height: 85%;
	width: 100%;
	overflow-y: scroll;
}
#listBox::-webkit-scrollbar {
	width: 8px;
}
#listBox::-webkit-scrollbar-thumb {
	background-color: #696CFF;
	border-radius: 10px;
}
#listBox::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.userBox{
	display: block !important;
	text-align: center;
	height: 70px;
	margin: 0 auto;
}
.userBox2{
	display: flex;
}
#userProfile{
	width: 50px;
	height: 50px;
	object-fit: cover;   
}
#proBox{
	width: 50px;
	height: 50px; 
	border-radius: 50%;
	overflow: hidden;
}
#my{
	font-size: 18px;
	line-height: 50px;
	font-weight: bolder;
}
.chatList{
	color: #566A7F;
	font-size: 16px;
}
#someone{
	font-size: 18px;
}
.myMsg{
	margin-left: auto;
	text-align: right;
	margin-right: 2%;
	font-size: 13px;
}
.yourMsg{
	background-color: white;
	margin-right: auto;
	text-align: left;
	margin-left: 2%;
	font-size: 13px;
}
.chatDate{
	margin-top:5px;
}
.box1{
	height: 100%;
}
.box2{
	padding-top: 15px !important;
}
.chatHome{
	margin: auto;
}
.boxHome{
	display: none;
}
.mes{
	font-size: 1.1rem;
}
.ul {
	list-style: none; 
	font-weight: normal;
}
.li{
	color: #696CFF;
	font-weight: bold;
	padding-top: 5%;
	font-size: 1rem;
 }
